.space{
	display: block;
	width: 800px;
	height: 150px;
	margin: 0;
	padding: 0;
}
p{
	font-size: 100px;
	display: inline-block;
	padding: 0;
	/**font-family: Futura, "Trebuchet MS", Arial, sans-serif;**/
	font-family: Arial, sans-serif;
	margin-left: 0;
	word-spacing: 0;

}
.logo{
	text-align: center;
	padding: 0;
	position: relative;
	top: -130px;
	margin-left: 0;
	word-spacing: 0;
}
.search{
	padding: 10px;
	position: relative;
	top: -220px;
	right: 30px;
	text-align: center;
}
.text{
	text-align: center;
	position: relative;
	top: -200px;
	left: -80px;
	font-size: 0.9em;
}

a{
	text-decoration: none;

}
a:hover{
	text-decoration: underline;
}
img{
	width: 50px;
	border-radius: 60px;
	height: 50px;
	position: relative;
	left: 1170px;
}
.gmail
{
	text-decoration: none;
	position: relative;
	left: 1150px;
	top: -20px;
	display: inline-block;
}
div>a:hover {
	text-decoration: underline;
}
#footer{
	width: 1300px;
	height: 30px;
	display: inline-block;
	background-color: #EEEEEE;
	color: #9E9E9E;
	padding-bottom: 10px;

}
html, body{
    
    width: 100%;
    height: 100%;
    font-size: small;
}
